:root {
	/* Фоновые цвета */
	--background-app: rgb(59, 59, 59); /* Фон всего приложения */
	--background-container: rgb(33, 37, 41); /* Фон главных контейнеров */
	--background-subcontainer: rgb(194, 194, 194);
	--background-placeholder: rgb(240, 240, 240); /* Фон заглушек */
	/* Фон при наведении на navlink */
	--background-hover: rgba(255, 255, 255, 0.087);
	--background-button: rgb(66, 126, 182); /* Фон кнопок */

	/* Цвета текста */
	--text-primary: rgb(237, 237, 237); /* Основной цвет текста */
	--text-secondary: rgb(102, 102, 102); /* Второстепенный цвет текста */
	--text-alt: rgb(26, 26, 26); /* Альтернативный цвет текста */
	--text-error: rgb(163, 15, 15); /* Цвет текста для ошибок */

	/* Цвета ссылок */
	--link-color: rgb(100, 180, 255); /* Цвет ссылок */
	--link-hover: rgb(61, 155, 244); /* Цвет ссылок при наведении */

	/* Тень */
	--box-shadow: 5px 10px 18px rgb(17, 17, 17); /* Унифицированный box-shadow */
}
